.container {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 109px;
	box-sizing: content-box;

	@include desktop {
		padding: 0 50px;
	}

	@include bigMobile {
		padding: 0 25px;
	}
}
.burger {
	display: none;
	position: relative;
	@include sizes(40px, 24px);

	@include bigMobile {
		display: block;
	}

	&__line {
		position: absolute;
		display: inline-block;
		width: 40px;
		border-bottom: 2px solid black;

		&:nth-of-type(1) {
			top: 0px;
		}

		&:nth-of-type(2) {
			top: 8px;
		}

		&:nth-of-type(3) {
			top: 16px;
		}

		&:nth-of-type(4) {
			top: 24px;
		}
	}
}

.title {
	@include font($family: Inika, $fz: 40px, $fs: normal, $fw: 400);
	line-height: normal;

	@include desktop {
		font-size: 35px;
	}

	@include bigMobile {
		font-size: 25px;
	}
}

.btn {
	@include sizes(161px, 50px);
	border-radius: 5px;
	border: 1px solid $orangeColor;
	color: $orangeColor;
	@include font($family: Inika, $fz: 20px, $fs: normal, $fw: 400);
	line-height: normal;
	background-color: transparent;
	cursor: pointer;
	transition: 0.3s ease-in;

	@include bigMobile {
		@include sizes(120px, 35px);
		text-align: center;
		font-size: 15px;
	}

	&:hover,
	&:focus,
	&:active {
		background-color: $orangeColor;
		color: $whiteBg;
	}
}
