@use '../media';
@use '../mixins';
@use '../variables';

.body_no-scroll {
	overflow: hidden;
}

.container {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 109px;
	box-sizing: content-box;

	@include media.desktop {
		padding: 0 50px;
	}

	@include media.bigMobile {
		padding: 0 25px;
	}
}

.burger {
	display: none;
	position: relative;
	background-color: unset;
	padding: 0;
	border: 0;
	@include mixins.sizes(40px, 26px);
	cursor: pointer;

	&_active {
		@include mixins.sizes(34px, 28px);
		right: 20px;

		@include media.bigMobile {
			@include media.touchScreenDevices {
				right: 3px;
			}
		}
	}

	@include media.bigMobile {
		display: flex;
		flex-direction: column;
		gap: 6px 0;
	}

	&__line {
		@include mixins.sizes(40px, 2px);
		background-color: variables.$blackColor;
		transition: transform 0.1s ease-in;

		&_active {
			position: absolute;
			width: 34px;
			background-color: variables.$whiteColor;

			&:nth-child(3n+1) {
				display: none;
			}

			&:nth-of-type(2) {
				transform: rotate(45deg);
				top: 12px;
			}

			&:nth-of-type(3) {
				transform: rotate(-45deg);
				top: 12px;
			}
		}
	}
}

.title {
	@include mixins.font($family: Inika, $fz: 40px, $fs: normal, $fw: 400);
	line-height: 52px;

	@include media.desktop {
		font-size: 35px;
		line-height: 46px;
		letter-spacing: 0;
	}

	@include media.bigMobile {
		line-height: 33px;
		font-size: 25px;
	}
}

.btn {
	@include mixins.sizes(161px, 50px);
	border: 1px solid variables.$orangeColor;
	border-radius: 5px;
	font-family: 'Inika';
	font-size: 20px;
	color: variables.$orangeColor;
	background-color: transparent;
	transition:
		color 0.2s ease,
		background-color 0.3s ease-in;

	@include media.bigMobile {
		@include mixins.sizes(120px, 35px);
		font-size: 15px;
	}

	@include mixins.hover {
		background-color: variables.$orangeColor;
		color: variables.$whiteColor;
	}

	&_active {
		background-color: variables.$orangeColor;
		color: variables.$whiteColor;
	}

	&_disabled {
		background-color: variables.$blackColor;
		color: variables.$whiteColor;
		opacity: 0.5;
		cursor: not-allowed;
		transition:
			color 0.2s ease;

		@include mixins.hover {
			background-color: variables.$blackColor;
			color: variables.$whiteColor;
		}
	}
}