@use '../media';
@use '../mixins';
@use '../variables';

.footer {
	background-color: variables.$whiteColor;

	&__inner {
		@include mixins.flex($justify: space-between, $alignItems: center);
		padding: 40px 0;
		font-size: 20px;
		line-height: 50px;
		letter-spacing: 0;
		color: variables.$blackColor;

		@include media.desktop {
			flex-direction: column;
			padding: 33px 0 18px;
			font-size: 20px;
			line-height: 24px;
		}

		@include media.bigMobile {
			padding: 22px 0 7px;
		}
	}

	&__github-link {
		display: flex;
		gap: 0 10px;
		transition: 0.5s ease;

		@include media.desktop {
			margin-bottom: 16px;
		}

		@include mixins.hoverAndActive {
			color: variables.$orangeColor;
		}
	}

	&__date {
		@include media.desktop {
			margin-bottom: 16px;
		}
	}

	&__rss-link {
		transition: 0.5s ease;

		@include mixins.hoverAndActive {
			color: variables.$orangeColor;
		}
	}
}