@use '../media';
@use '../mixins';
@use '../variables';

.header {
	overflow-x: hidden;
	font-family: 'Inika';
	background-color: variables.$greenBg;
	color: variables.$linksNavColor;

	.container {
		padding-left: 113px;

		@include media.desktop {
			padding-left: 50px;
		}

		@include media.smallMobile {
			padding-left: 25px;
		}
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 42px 0;

		@include media.desktop {
			padding: 35px 0;
		}
	}
}

.logo {
	display: flex;
	align-self: flex-start;
	align-items: baseline;
	gap: 0 2px;
	letter-spacing: 0;
	margin-top: 10px;

	@include media.bigMobile {
		letter-spacing: 0;
	}

	@include media.smallMobile {
		margin-top: 0;
	}
}

.nav {
	&__list {
		display: flex;
		gap: 0 46px;

		@include media.bigMobile {
			position: absolute;
			left: 0;
			top: 0;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 20px;
			@include mixins.sizes(100dvw, 100dvh);
			background-image: url('./images/burger-image.jpg');
			background-size: cover;
			transform: translateY(-200%);
			transition: transform 0.3s ease-in-out;
			color: variables.$whiteColor;
			font-size: 32px;
		}

		&_active {
			transform: translateY(0);
		}
	}

	&__item {
		line-height: 50px;
		transition: 0.2s ease;
		letter-spacing: 0;

		@include mixins.hover {
			color: variables.$orangeColor;
			font-weight: 700;
		}

		&:active {
			color: variables.$redColor;
		}
	}
}