@import 'section-welcome';
@import 'section-about';
@import 'section-service';
@import 'section-prices';
@import 'section-contacts';

.title {
	@include font($family: Inika, $fz: 40px, $fs: normal, $fw: 400);
	line-height: normal;
}

.subtitle {
	color: $darkGreyColor;
	@include font($family: Inter, $fz: 19px, $fs: normal, $fw: 400);
}

.btn {
	border-radius: 5px;
	border: 1px solid $orangeColor;
	color: $orangeColor;
	@include font($family: Inika, $fz: 20px, $fs: normal, $fw: 400);
	line-height: normal;
	background-color: transparent;
	cursor: pointer;
	transition: 0.3s ease-in;

	&:hover,
	&:focus,
	&:active {
		background-color: $orangeColor;
		color: $whiteBg;
	}
}
