@use '../media';
@use '../mixins';
@use '../variables';

.service {
	background-color: variables.$greenBg;

	&__inner {
		padding: 36px 0 121px;

		@include media.desktop {
			padding: 60px 0 70px;
		}

		@include media.bigMobile {
			padding: 32px 0 27px;
		}
	}

	&__control {
		display: flex;
		align-items: center;
		margin-bottom: 80px;

		@include media.desktop {
			flex-direction: column;
			align-items: flex-start;
			margin-bottom: 40px;
		}
	}

	&__control-btn {
		line-height: 26px;

		&:active {
			color: variables.$greenColor-0;
		}
	}

	&__control-title {
		margin-right: 140px;
		max-width: 306px;
		color: variables.$greenColor-73;
		letter-spacing: 0;

		@include media.desktop {
			margin-right: 0px;
			margin-bottom: 40px;
		}

		@include media.bigMobile {
			margin-bottom: 38px;
			max-width: 187px;
		}
	}

	&__control-buttons {
		display: flex;
		gap: 0 38px;
		padding-top: 5px;

		@include media.desktop {
			padding-top: 0;

		}

		@include media.bigMobile {
			flex-wrap: wrap;
			gap: 9px 11px;
		}
	}

	&__cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		row-gap: 55px;

		@include media.desktop {
			justify-content: center;
			gap: 38px 107px;
		}

		@include media.bigMobile {
			row-gap: 33px;
		}
	}


	&__cards-figure_blur {
		filter: blur(2px);
	}

	&__cards-image {
		width: 329px;

		@include media.desktop {
			width: 280px;
		}

		@include media.bigMobile {
			width: 279px;
		}
	}

	.figcaption {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 330px;
		margin-top: -3px;
		height: 100px;
		border: 1px solid variables.$greyColor-227;
		border-radius: 0px 0px 20px 20px;
		border-top-width: 0px;
		font-size: 20px;
		font-weight: 700;
		line-height: 20px;
		letter-spacing: 0;

		@include media.desktop {
			width: 280px;
		}

		&__title {
			padding-top: 10px;
			margin-bottom: 14px;
			color: variables.$orangeColor;

			@include media.desktop {
				padding-top: 10px;
				margin-bottom: 10px;
			}
		}

		&__subtitle {
			margin-bottom: 36px;
			color: variables.$greyColor-113;
			font-size: 16px;
			font-weight: 400;

			@include media.desktop {
				margin-bottom: 20px;
				max-width: 203px;
				text-align: center;
			}
		}
	}
}