@use '../media';
@use '../mixins';
@use '../variables';

.about {
	background-color: variables.$whiteColor;

	&__inner {
		display: flex;
		align-items: center;
		padding: 93px 0;

		@include media.desktop {
			flex-direction: column;
			padding: 40px 0 95px;
		}

		@include media.bigMobile {
			padding: 30px 0 25px;
		}
	}

	&__info {
		margin-right: 153px;
		padding-top: 7px;
		max-width: 605px;

		@include media.desktop {
			padding-top: 0;
			margin-right: 0;
			max-width: 668px;
		}
	}

	&__info-image {
		width: clamp(150px, 33vw, 462px);
	}

	&__info-title {
		margin-bottom: 40px;
		color: variables.$greenColor-73;
		letter-spacing: 0;
		word-spacing: 2px;

		@include media.desktop {
			padding-top: 0;
			margin-bottom: 52px;
			text-align: center;
			text-wrap: balance;
		}

		@include media.bigMobile {
			margin-bottom: 16px;
		}

		&_orange {
			color: variables.$orangeColor;
		}
	}

	&__info-subtitle {
		font-size: 20px;
		line-height: 30px;
		letter-spacing: 0;
		color: variables.$greyColor-99;

		@include media.desktop {
			margin-bottom: 64px;
		}

		@include media.bigMobile {
			margin-bottom: 0;
			font-size: 15px;
			line-height: 25px;
		}
	}
}