.welcome {
	background-color: $greenBg;

	&__inner {
		@include flex($alignItems: center);
		padding: 50px 0;

		@include desktop {
			flex-direction: row-reverse;
			justify-content: space-between;
			padding: 40px 0 70px 0;
		}
	}

	&__image {
		width: clamp(280px, 31vw, 449px);
		margin-right: 224px;

		@include desktop {
			margin-right: 0;
			align-self: flex-start;
		}
	}

	&__info {
		font-family: Inter;
		font-style: normal;

		@include desktop {
			margin-right: 15px;
		}
	}

	&__info-title {
		margin-bottom: 42px;
		padding-top: 36px;
		font-size: 45px;
		font-weight: 700;
		line-height: 50px;
		color: $greyColor;

		@include desktop {
			padding-top: 0;
			margin-bottom: 30px;
			font-size: 35px;
		}

		&_green {
			color: $greenColor;
		}
	}

	&__info-subtitle {
		margin-bottom: 48px;
		line-height: 35px;
		color: $darkGreyColor;
		@include font($family: Inter, $fz: 19px, $fs: normal, $fw: 400);

		@include desktop {
			margin-bottom: 30px;
			font-size: 16px;
			line-height: 25px;
		}
	}

	&__info-btn {
		padding: 14px 27px;
		border-radius: 10px;
		border: 2px solid #e06733;
		background: rgba(224, 103, 51, 0);
		cursor: pointer;
		transition: 0.5s ease;
		color: #000;

		&:hover,
		&:focus,
		&:active {
			background-color: $orangeColor;
		}
	}
}
