.contacts {
	background-color: $greenBg;

	.container {
		@include desktop {
			padding: 0 159px;
		}

		@include bigMobile {
			padding: 0 42px;
		}
	}

	&__inner {
		@include flex($justify: space-between, $alignItems: flex-start);
		padding-top: 47px;

		@include desktop {
			flex-direction: column;
			align-items: center;
			padding-top: 40px;
		}

		@include bigMobile {
			padding-top: 25px;
		}
	}

	&__title {
		@include font($family: Inika, $fz: 40px, $fs: normal, $fw: 700);
		color: $greenColor;
		line-height: normal;
		text-align: center;

		@include desktop {
			margin-bottom: 100px;
			order: -1;
		}

		@include bigMobile {
			margin-bottom: 80px;
			font-size: 25px;
		}
	}

	&__image {
		width: clamp(100px, 27vw, 400px);
		order: -2;
		margin-right: 73px;

		@include desktop {
			order: 0;
			margin-right: 0;
		}
	}

	&__details {
		width: 450px;
		margin-top: 88px;

		@include desktop {
			margin-top: 0;
			margin-bottom: 250px;
			order: -1;
		}

		&[open] > &-summary {
			background-color: rgb(193, 230, 152);
		}

		&[open] > &-summary > &-svg {
			transform: rotate(180deg);
			fill: rgb(139, 160, 126);
		}

		&-summary {
			padding: 0 20px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 450px;
			height: 50px;
			box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
			background: rgb(214, 231, 210);
			color: rgb(113, 113, 113);
			font-family: Inter;
			font-size: 20px;
			font-weight: 400;
			line-height: 40px;
			letter-spacing: 5%;
			text-align: left;
			cursor: pointer;
			transition: all 0.5s ease;

			&:hover {
				background: rgb(193, 230, 152);
				box-shadow: none;
			}
		}

		&-svg {
			width: 18px;
			height: 18px;
			transition: transform 0.5s ease;
			fill: rgb(174, 161, 161);
		}

		&-inner {
			cursor: pointer;

			&:not(:last-child) {
				margin-bottom: 12px;
			}

			&-summary {
				width: 380px;
				height: 35px;
				padding-left: 20px;
				color: rgb(113, 113, 113);
				font-family: Inter;
				font-size: 16px;
				font-weight: 400;
				line-height: 40px;
				letter-spacing: 5%;
				text-align: left;
				border-bottom: 1px solid rgb(217, 217, 217);
				transition: all 0.5s ease;
				cursor: pointer;
				color: rgb(73, 154, 24);

				&:hover {
					color: rgb(113, 113, 113);
					border-bottom: 1px solid rgb(113, 113, 113);
				}
			}
		}

		&-bottom {
			background: rgb(220, 233, 217);
			width: 450px;
			height: 234px;
			padding: 27px 50px 31px 20px;
		}
	}
	&__popUp {
		width: 448px;
		height: 214px;
		border: 1px solid rgb(0, 0, 0);
		border-radius: 20px;
		background: rgb(237, 242, 236);
		padding: 17px 76px 32px 35px;
		font-family: Inter;
		font-size: 16px;
		font-weight: 400;
		line-height: 40px;
		letter-spacing: 5%;
		text-align: left;

		&-wrapper {
			@include flex($direction: row, $justify: space-evenly);
			width: 337px;
			height: 165px;
		}

		&-info {
			color: rgb(0, 0, 0);
			@include flex($direction: column);
		}

		&-value {
			& p:last-of-type {
				margin-bottom: 22px;
			}
			color: rgb(113, 113, 113);
			@include flex($direction: column);
		}

		&-button {
			width: 122px;
			height: 26px;
			box-sizing: border-box;
			border: 1px solid rgb(224, 103, 51);
			border-radius: 5px;
			color: rgb(113, 113, 113);
			font-family: Inika;
			font-size: 10px;
			font-weight: 700;
			line-height: 13px;
			letter-spacing: 0%;
			text-align: center;
			background-color: transparent;
		}
	}
}
