@use '../media';
@use '../mixins';
@use '../variables';

.prices {
	background-color: variables.$whiteColor;
	color: variables.$blackColor;

	&__inner {
		display: flex;
		justify-content: space-between;
		padding: 40px 0 115px;

		@include media.desktop {
			padding: 40px 0 88px;
		}

		@include media.bigMobile {
			flex-direction: column;
			align-items: center;
			padding: 23px 0 40px;
		}
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		@include media.bigMobile {
			align-items: center;
		}
	}

	&__contacts-title {
		margin-bottom: 38px;
		max-width: 452px;
		font-size: 40px;
		line-height: 50px;
		letter-spacing: 0;
		color: variables.$blackColor;
		text-align: right;

		@include media.desktop {
			padding-top: 100px;
			margin-bottom: 29px;
			font-size: 25px;
			line-height: 35px;
		}

		@include media.bigMobile {
			padding-top: 0;
			margin-bottom: 20px;
			max-width: 230px;
			font-size: 20px;
			text-align: center;
		}

		&_green {
			color: variables.$greenColor-73;
		}
	}

	&__contacts-btn {
		margin-bottom: 39px;
		font-weight: 700;

		&:active {
			background-color: variables.$orangeColor;
			color: variables.$whiteColor;
		}

		@include media.desktop {
			margin-bottom: 34px;
		}

		@include media.bigMobile {
			margin-bottom: 0;
		}
	}

	&__contacts-img {
		width: 152px;

		@include media.bigMobile {
			display: none;
		}
	}
}

.tariff {
	@include media.desktop {
		margin-right: 40px;
	}

	@include media.bigMobile {
		margin-right: 0;
	}

	&__title {
		margin-bottom: 60px;
		font-size: 40px;
		line-height: normal;
		letter-spacing: 0;

		@include media.desktop {
			margin-bottom: 55px;
			padding-left: 14px;
			font-size: 35px;
		}

		@include media.bigMobile {
			margin-bottom: 34px;
			padding-left: 0;
			font-size: 25px;
			text-align: center;
		}
	}

	&__buttons {
		width: 332px;
		padding: 34px 41px;
		border-radius: 20px;
		border: 1px solid variables.$greyColor-227;
		letter-spacing: 0;

		@include media.bigMobile {
			margin-bottom: 20px;
			padding: 29px 22px;
			width: 224px;
		}
	}

	&__buttons-btn {
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 16px 41px;
		width: 250px;
		max-height: 50px;
		border-radius: 20px;
		background: variables.$greenBg;
		cursor: pointer;
		overflow: hidden;
		transition: max-height 0.3s ease-in;

		&_active {
			max-height: 155px;
			background-color: variables.$greyColor-214;

			& .tariff__buttons-title {
				margin-bottom: 9px;
			}
		}

		&:not(:last-of-type) {
			margin-bottom: 32px;
		}

		@include media.bigMobile {
			padding: 16px 30px;
			width: 180px;
			font-size: 15px;

			&:not(:last-of-type) {
				margin-bottom: 14px;
			}
		}
	}

	&__buttons-title {
		margin-bottom: 14px;
		font-size: 20px;
		font-weight: 700;
		line-height: 20px;

		@include media.bigMobile {
			font-size: 15px;
		}
	}

	&__buttons-svg {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		right: 40px;
		top: 17px;
		@include mixins.sizes(16px, 16px);
		background: variables.$greyColor-217;
		transition: all 0.5s ease;
		border-radius: 50%;

		&_active {
			transform: rotate(180deg);
			background: variables.$greyColor-174;

			& path {
				stroke: variables.$whiteColor
			}
		}
	}


	&__buttons-text {
		padding-top: 6px;
		margin-bottom: 6px;
		border-top: 0.5px solid variables.$greyColor-174;
		font-size: 10px;
		font-weight: 300;
		line-height: 10px;
		letter-spacing: 0;
		color: variables.$greyColor-113;

		@include media.bigMobile {
			font-size: 9px;
		}
	}

	&__buttons-price {
		margin-bottom: 8px;
		font-size: 12px;
		line-height: 20px;
		letter-spacing: 0;
		color: variables.$blackColor;

		@include media.bigMobile {
			font-size: 10px;
		}

		&_orange {
			color: variables.$orangeColor;
			font-weight: 700;

			&:nth-of-type(2) {
				font-size: 16px;

				@include media.bigMobile {
					font-size: 14px;
				}
			}
		}
	}

	&__buttons-order {
		@include mixins.sizes(86px, 25px);
		padding: 3px 20px;
		border-radius: 10px;
		background: variables.$whiteColor;
		color: variables.$greyColor-113;
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;
		letter-spacing: 0;
		transition:
			color 0.3s ease,
			background-color 0.6s ease-in;
		text-align: left;

		@include media.bigMobile {
			@include mixins.sizes(80px, 24px);
			font-size: 13px;
		}

		@include mixins.hoverAndActive {
			color: variables.$whiteColor;
			background-color: variables.$orangeColor;
		}

		&:focus {
			border-color: variables.$redColor;
		}
	}
}