.prices {
	background-color: $whiteBg;
	font-family: Inter;
	font-style: normal;
	color: #000;

	&__inner {
		@include flex($justify: space-between);
		padding: 58px 0 115px 0;

		@include desktop {
			padding: 40px 0 88px 0;
		}
	}

	&__tariff {
		@include desktop {
			margin-right: 40px;
		}
	}

	&__tariff-title {
		margin-bottom: 60px;
		font-size: 40px;
		font-weight: 700;
		line-height: normal;

		@include desktop {
			margin-bottom: 50px;
			font-size: 35px;
		}
	}

	&__tariff-buttons {
		@include flex($direction: column, $justify: space-evenly, $alignItems: center);
		width: 332px;
		min-height: 282px;
		border-radius: 20px;
		border: 1px solid #e3e1d5;
	}

	&__tariff-btn {
		position: relative;
		@include sizes(250px, 50px);
		padding-left: 40px;
		border-radius: 20px;
		text-align: left;
		background: $greenBg;
		font-size: 20px;
		font-weight: 700;
		line-height: 20px;
		border: 0;

		&-svg {
			position: absolute;
			right: 40px;
			bottom: calc(50% - 8px);
			@include sizes(16px, 16px);
		}
	}

	&__contacts {
		@include flex($direction: column, $alignItems: flex-end);

		&-title {
			color: #000;
			margin-bottom: 38px;
			max-width: 452px;
			text-align: right;
			font-size: 40px;
			font-weight: 700;
			line-height: 50px;

			@include desktop {
				line-height: 35px;
				margin-top: 85px;
				margin-bottom: 22px;
				font-size: 25px;
			}

			&_green {
				color: $greenColor;
			}
		}

		&-btn {
			font-weight: 700;
			padding: 12px 32px;
			margin-bottom: 51px;

			@include desktop {
				margin-bottom: 34px;
			}
		}

		&-img {
			width: 152px;
		}
	}
}
