@use '../media';
@use '../mixins';
@use '../variables';

.contacts {
	background-color: variables.$greenBg;
	overflow: hidden;

	.container {
		@include media.desktop {
			padding: 0 159px;
		}

		@include media.bigMobile {
			padding: 0 42px;
		}
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		padding-top: 52px;

		@include media.desktop {
			flex-direction: column;
			align-items: center;
			padding-top: 36px;
		}

		@include media.bigMobile {
			padding-top: 25px;
		}
	}

	&__title {
		margin-top: 8px;
		font-family: 'Inika';
		font-size: 40px;
		line-height: normal;
		color: variables.$greenColor-73;
		letter-spacing: 0;

		@include media.desktop {
			order: -1;
			margin: 3px 0 100px;
		}

		@include media.bigMobile {
			margin: 0 0 80px;
			font-size: 25px;
		}
	}

	&__image {
		order: -2;
		width: 400px;
		height: auto;
		margin-right: 46px;

		@include media.desktop {
			order: 0;
			margin-left: 20px;
			margin-right: 0;
			width: max(100px, min(26vw, 400px));
		}

		@include media.bigMobile {
			margin-left: 0;
		}
	}

	&__details {
		margin: 94px 0 47px;
		font-size: 20px;
		line-height: 40px;

		@include media.desktop {
			order: -1;
			margin: 0 0 61px;
		}

		@include media.bigMobile {
			margin-bottom: 49px;
		}

		&[open]>&-summary {
			background-color: variables.$greenSummaryBg;
			box-shadow: none;
		}

		&[open]>&-summary>&-svg {
			transform: rotate(180deg);
			fill: variables.$greenColor-139;
		}
	}

	&__details-wrapper {
		display: flex;
		flex-direction: column;
		margin-bottom: 250px;
		max-height: 50px;

		@include media.desktop {
			order: -1;
		}

		@include media.bigMobile {
			align-items: center;
			margin-bottom: 132px;
		}

		&_active {
			margin-bottom: 0;
			max-height: 450px;
		}
	}

	&__details-svg {
		transition: transform 0.5s ease;
		fill: variables.$greyColor-174;
	}

	&__details-summary {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include mixins.sizes(450px, 50px);
		padding: 0 35px 0 20px;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		background: variables.$greyColor-214;
		color: variables.$greyColor-113;
		cursor: pointer;
		transition: all 0.5s ease;

		@include media.bigMobile {
			padding-inline: 18px 22px;
			width: 300px;
		}


		@include mixins.hover {
			background: variables.$greenSummaryBg;
		}

		&_active {
			background-color: variables.$greenSummaryBg;
		}
	}

	&__details-inner {
		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}

	&__details-inner-summary {
		@include mixins.sizes(380px, 35px);
		padding-left: 20px;
		border-bottom: 1px solid variables.$greyColor-217;
		font-size: 16px;
		transition: all 0.5s ease;
		cursor: pointer;
		color: variables.$greenColor-73;

		@include media.bigMobile {
			width: 240px;
		}

		@include mixins.hoverAndActive {
			border-bottom: 1px solid variables.$greyColor-113;
			color: variables.$greyColor-113;
		}
	}

	&__details-bottom {
		@include mixins.sizes(450px, 234px);
		padding: 27px 50px 31px 20px;
		background: variables.$greyColor-220;

		@include media.bigMobile {
			width: 300px;
		}
	}

	&__popUp {
		@include mixins.sizes(448px, 214px);
		padding: 17px 76px 32px 33px;
		transform: translateX(300%);
		border: 1px solid variables.$blackColor;
		border-radius: 20px;
		font-size: 16px;
		line-height: 40px;
		letter-spacing: 0.8px;
		background: variables.$greenBg;
		transition: transform 0.5s ease;

		@include media.desktop {
			padding-top: 15px;
			margin-bottom: 14px;
		}

		@include media.bigMobile {
			width: 282px;
			padding: 23px 36px;
		}

		&_active {
			transform: translateX(0);
		}
	}

	&__popUp-wrapper {
		display: flex;
		@include mixins.sizes(337px, 165px);
	}

	&__popUp-info {
		display: flex;
		flex-direction: column;
		margin-right: 16px;
		color: variables.$blackColor;

		@include media.bigMobile {
			margin-right: 0px;
			max-width: 65px;

			& p:last-child {
				line-height: 20px;
			}
		}
	}

	&__popUp-value {
		display: flex;
		flex-direction: column;
		color: variables.$greyColor-113;

		& p:last-of-type {
			margin-bottom: 18px;
		}

		@include media.bigMobile {
			max-width: 146px;

			& p:last-of-type {
				margin-bottom: 19px;
				padding-left: 8px;
				line-height: 20px;
			}
		}
	}

	&__popUp-link {
		position: relative;
		right: 5px;
		@include mixins.sizes(122px, 26px);
		padding: 7px 29px;
		border: 1px solid variables.$orangeColor;
		border-radius: 5px;
		@include mixins.font($family: Inika, $fz: 10px, $fs: normal, $fw: 700);
		line-height: 13px;
		letter-spacing: 0;
		text-align: center;
		color: variables.$greyColor-113;
		background-color: transparent;
		transition: all 0.5s ease;

		@include media.bigMobile {
			right: 16px;
		}

		@include mixins.hoverAndActive {
			background-color: variables.$orangeColor;
			color: variables.$whiteColor;
		}
	}
}