.about {
	background-color: $whiteBg;

	&__inner {
		@include flex($alignItems: center);
		padding: 93px 0;

		@include desktop {
			flex-direction: column;
			padding: 40px 0 95px 0;
		}

		@include bigMobile() {
			padding: 30px 0;
		}
	}

	&__info {
		max-width: 605px;
		margin-right: 153px;

		&-image {
			width: clamp(150px, 33vw, 462px);
		}

		@include desktop {
			margin-right: 0;
		}
	}

	&__info-title {
		margin-bottom: 40px;
		padding-top: 60px;
		color: $greenColor;

		@include desktop {
			padding-top: 0;
			text-align: center;
			text-wrap: balance;
		}

		@include bigMobile() {
			margin-bottom: 16px;
		}

		&_orange {
			color: $orangeColor;
		}
	}

	&__info-subtitle {
		line-height: 30px;
		color: $darkGreyColor;
		@include font($family: Inter, $fz: 19px, $fs: normal, $fw: 400);

		@include desktop {
			margin-bottom: 40px;
			text-align: justify;
		}

		@include bigMobile() {
			margin-bottom: 0;
			font-size: 14px;
			line-height: 22px;
		}
	}
}
