@mixin flex($direction: row, $wrap: nowrap, $justify: normal, $alignItems: normal, $gap: normal) {
	display: flex;
	flex-direction: $direction;
	flex-wrap: $wrap;
	justify-content: $justify;
	align-items: $alignItems;
	gap: $gap;
}

@mixin headerFont() {
	color: #010201;
	font-family: Inika;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}

@mixin fontsSizes($fz: 20px, $fw: 400, $lh: 35px) {
	font-size: $fz;
	font-weight: $fw;
	line-height: $lh;
}

@mixin sizes($width, $height) {
	width: $width;
	height: $height;
}
