$greenBg: rgb(237, 242, 236);
$greenSummaryBg: rgb(193, 230, 152);
$linksNavColor: rgb(1, 2, 1);
$whiteColor: rgb(255, 255, 255);
$blackColor: rgb(0, 0, 0);
$redColor: rgb(255, 0, 0);
$greenColor-0: rgb(0, 128, 0);
$greenColor-73: rgb(73, 154, 24);
$greenColor-139: rgb(139, 160, 126);
$orangeColor: rgb(224, 103, 51);
$greyColor-113: rgb(113, 113, 113);
$greyColor-99: rgb(99, 96, 96);
$greyColor-217: rgb(217, 217, 217);
$greyColor-220: rgb(220, 233, 217);
$greyColor-174: rgb(174, 161, 161);
$greyColor-214: rgb(214, 231, 210);
$greyColor-227: rgb(227, 225, 213);